.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden; /* table rows still have square corners, so hide its overflow to show table's new rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: hsl(187, 40%, 70%);
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid hsl(187, 40%, 70%);
}

.transaction-actions {
    display: flex;
}

.transaction-actions a,
.transaction-actions button {
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    background-color: #4caf50; /* for example */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 2px 2px 0 0 white, 4px 4px 0 0 #0f172a;
    transition-duration: 200ms;
}

.transaction-actions a:hover,
.transaction-actions button:hover {
    box-shadow: 3px 3px white, 6px 6px 0 0 #0f172a;
}

.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    @apply bg-green-300 rounded p-1 transform hover:scale-110;
}
